<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        html {
            background-color: white;
        }

        ul {
            float: left;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #090633;
        }

        li {
            float: left;
            padding: 20px;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }

        .top {
            width: 101%;
            height: 100px;
            background-color: #090633;
            margin-top: -10px;
            margin-left: -10px;
            margin-bottom: 1px;
            padding: 11px;
            padding-top: 2%;

        }

        h1 {
            color: white;
            text-align: center;
        }

        #title {
            color: white;
            float: left;
            margin: auto;
            font-size: 35px;
            padding: 2%;
        }
    </style>


</head>

<body>


    <div class="top">
        <p id="title">Nuka-Tex</p>
        <ul>
            <li>

            </li>
            <li><a href="product">Add the product</a></li>
            <li><a href="list">See all the products</a></li>
            <li><a href="logOut">Log out</a></li>
        </ul>
    </div>




</body>

</html>