<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/product" method="post">
        <input type="text" placeholder="Product ID" name="product_id">
        <input type="text" placeholder="Product Name" name="product_name">
        <input type="text" placeholder="Product Amount Bought" name="product_bought">
        <input type="text" placeholder="Product Amount Sold" name="product_sold">
        <input type="text" placeholder="Product Amount Remaining" name="product_remaining">
        <button type="submit">Submit</button>
    </form>
</body>

</html>