<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <h1>Update the Record</h1>
    <form action="/update" method="post">
        <label for="products">Choose a Product:</label>
        <select id="products" name="products">
            <input type="text" placeholder="Product Name" name="product_name">
            <input type="text" placeholder="Product Amount Bought" name="product_bought">
            <input type="text" placeholder="Product Amount Sold" name="product_sold">
            <input type="text" placeholder="Product Amount Remaining" name="product_remaining">
    </form>
</body>

</html>